@charset "utf-8";
html{
    font-family: "Opens Sans", sans-serif;
}

body{
    margin: 0px;
}

h2,h3,h4,h5, span{
    margin: 0px;
    color: #666;
}


.conteiner{
    max-width: 1200px;
    width: 100%;
}
/*header*/
header{
    position: relative;
    top: 0px;
    height: 150%;
    width: 150%;

}

/*navbar*/
nav{
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    background-color:#fff;
    z-index: 1;
    border-bottom: 1px solid rgb(0, 0, 0);
}

nav:after{
    clear: both;
    content: "";
    display: block;
}

.nav-conteiner {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-top: auto;
}

#logo{
    margin-left: 60px;
    width: 70px;
    height:80px;
    right:40px ;
    margin-top: 15px ;  
    float: initial 10px;

}

.nav-conteiner ul{
    margin-left: 15px;
    float:right;
    height: 100px;
    line-height: 100px;
    margin: 0px;
}


.nav-conteiner li {
    list-style: none;
    float: left;
    margin: 0 10px;
}

.nav-conteiner  li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
}

.nav-conteiner li a:hover{
    color:blue;
}

#main-banner{
    background: url('Banner01.png') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 100px;
}

#forms{
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
    padding-bottom: 15em;
    text-align: 50px;
}

#forms h1{

    font-size: 50px;
}

#forms p{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300px;
}

#fomrs input, #select{
    background-color: #fff;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 10px;
    margin: 0 10px;
}















